@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-neutral-200;
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-50 text-neutral-900;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  * {
    @apply border-neutral-800;
  }
  body {
    @apply bg-neutral-950 text-neutral-50;
  }
}
